<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rongfeng.speedclient">

    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 相机权限 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- 自动对焦权限 -->
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 读取联系人 -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <!-- SD卡读取权限，用户写入离线定位数据 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <!-- Push service 运行需要的权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR" />

    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <!-- 高德定位权限 -->
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS"></uses-permission>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <!-- Push service 运行需要的权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <!-- 富媒体需要声明的权限 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR" />

    <!-- 适配Android N系统必需的ContentProvider写权限声明，写权限包含应用包名-->
    <uses-permission android:name="baidu.push.permission.WRITE_PUSHINFOPROVIDER.com.baidu.push.example" />
    <permission
        android:name="baidu.push.permission.WRITE_PUSHINFOPROVIDER.com.baidu.push.example"
        android:protectionLevel="normal"></permission>


    <application
        android:name=".MineApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".login.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".WordsActivity" />
        <activity
            android:name=".home.MainTableActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".client.ClientRegisterActivity"
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity android:name=".client.ClientAddContactActivity" />
        <activity android:name=".voice.VoiceNoteActivity" />
        <activity android:name=".client.ClientDotOverlayMapNewActivity" />
        <activity android:name=".client.ClientDotOverlayMapNewSearchActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".schedule.ScheduleActivity" />
        <activity android:name=".common.CameraWaterMarkActivity" />
        <activity android:name=".schedule.ScheduleAddEditActivity" />
        <activity android:name=".client.ClientPersonaActivity" />
        <activity android:name=".client.ClientContactsActivity" />
        <activity android:name=".client.ClientRecordsActivity" />
        <activity android:name=".common.displayimage.ShowWebImageActivity" />
        <activity android:name=".client.ClientVisitActivity" />
        <activity android:name=".client.ClientAddBusinessActivity" />
        <activity android:name=".client.ClientAddRebackMoneyActivity" />
        <activity android:name=".client.ClientAddContractActivity" />
        <activity android:name=".voice.AddScheduleActivity" />
        <activity
            android:name=".client.ClientEditActivity"
            android:windowSoftInputMode="stateHidden|stateUnchanged" />
        <activity android:name=".client.ClientDetaisBusinessActivity" />
        <activity
            android:name=".client.ClientDetailsContractActivity"
            android:windowSoftInputMode="stateHidden|stateUnchanged" />
        <activity android:name=".organization.OrganizationActivity" />
        <activity android:name=".organization.OrganizationSetPersonActivity" />
        <activity
            android:name=".organization.OrganizationEditDepartmentActivity"
            android:windowSoftInputMode="stateHidden|stateUnchanged" />
        <activity android:name=".client.ClientDistributeActivity" />
        <activity android:name=".client.ClientAddContactUpLoadActivity" />
        <activity android:name=".client.ClientAddContactDetailsActivity" />
        <activity android:name=".selectpicture.SelectPictureActivity" />
        <activity
            android:name=".call.AlertActivity"
            android:launchMode="singleInstance"
            android:theme="@android:style/Theme.Translucent"

            />

        <activity android:name=".client.ClientListActivity" />

        <!--高德定位-->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="35fb209956d21e4d5d694af8c4992376" />
        <!-- 定位需要的服务 -->
        <service android:name="com.amap.api.location.APSService"></service>


        <receiver android:name="com.rongfeng.speedclient.call.PhoneStatReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PHONE_STATE" />
                <action android:name="android.intent.action.NEW_OUTGOING_CALL" />
            </intent-filter>
        </receiver>


        <service
            android:name=".home.UpdateClientInfoService"
            android:exported="false" />

        <activity android:name=".login.SetActivity" />
        <activity android:name=".voice.WaveActivity" />


        <!-- push富媒体，使用富媒体推送必须声明 -->
        <activity
            android:name="com.baidu.android.pushservice.richmedia.MediaViewActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="MediaViewActivity"></activity>
        <activity
            android:name="com.baidu.android.pushservice.richmedia.MediaListActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="MediaListActivity"
            android:launchMode="singleTask"></activity>
        <!-- push富媒体结束 -->

        <!-- push应用定义消息receiver声明 -->
        <receiver android:name=".push.PushMessageReceiver">
            <intent-filter>

                <!-- 接收push消息 -->
                <action android:name="com.baidu.android.pushservice.action.MESSAGE" />
                <!-- 接收bind,unbind,fetch,delete等反馈消息 -->
                <action android:name="com.baidu.android.pushservice.action.RECEIVE" />
                <action android:name="com.baidu.android.pushservice.action.notification.CLICK" />
            </intent-filter>
        </receiver>

        <!-- push必须的receviver和service声明 -->
        <receiver
            android:name="com.baidu.android.pushservice.PushServiceReceiver"
            android:process=":bdservice_v1">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="com.baidu.android.pushservice.action.notification.SHOW" />
                <action android:name="com.baidu.android.pushservice.action.media.CLICK" />
                <!-- 以下四项为可选的action声明，可大大提高service存活率和消息到达速度 -->
                <action android:name="android.intent.action.MEDIA_MOUNTED" />
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.baidu.android.pushservice.RegistrationReceiver"
            android:process=":bdservice_v1">
            <intent-filter>
                <action android:name="com.baidu.android.pushservice.action.METHOD" />
                <action android:name="com.baidu.android.pushservice.action.BIND_SYNC" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.baidu.android.pushservice.PushService"
            android:exported="true"
            android:process=":bdservice_v1">
            <intent-filter>
                <action android:name="com.baidu.android.pushservice.action.PUSH_SERVICE" />
            </intent-filter>
        </service>
        <service
            android:name="com.baidu.android.pushservice.CommandService"
            android:exported="true" />

        <!-- 适配Android N系统必需的ContentProvider声明，写权限包含应用包名-->
        <provider
            android:name="com.baidu.android.pushservice.PushInfoProvider"
            android:authorities="com.rongfeng.speedclient.bdpush"
            android:exported="true"
            android:protectionLevel="signature"
            android:writePermission="baidu.push.permission.WRITE_PUSHINFOPROVIDER.com.rongfeng.speedclient" />

        <!-- 在百度开发者中心查询应用的API Key -->
        <meta-data
            android:name="api_key"
            android:value="kmBBwAmpVX8eHO6exQozIsGL" />


        <activity android:name=".mine.SetActivity" />
        <activity android:name=".mine.ClientSelectActivity" />
        <activity android:name=".mine.AboutActivity" />
        <activity android:name=".dynamic.RecordPicturesActivity" />
        <activity
            android:name=".contactindex.ContactsActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".mine.MineInviteActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity android:name=".mine.MinePositionRecordActivity" />
        <activity android:name=".manage.ManageSearchDateActivity" />
        <activity android:name=".manage.ManageClientListActivity" />
        <activity android:name=".manage.ManageFollowActivity" />
        <activity android:name=".manage.ManageBusinessActivity" />
        <activity android:name=".manage.ManageBargainActivity" />
        <activity
            android:name=".mine.MineSalesTargetActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity android:name=".dynamic.NoticeActivity" />
        <activity android:name=".product.ProductActivity" />

    </application>

</manifest>